.kiro/
.trae/
.vscode/
.qoder/
.git/
.idea/
.cache/
.mypy_cache/
.pytest_cache/
.mypy_cache/
.pytest_cache/
.mem0/
.litellm_cache/
.models/
.env
api_key.env
models/
venv/
bak/
tmp/
docs/
bug/
test/cache/
test/story/
node_modules/
__pycache__/
recursive.egg-info/
recursive/.litellm_cache/
recursive/.mem0/
recursive/.cache/
searxng/
*.pyc
*.log
*.md
test_*.py

output.jsonl
done.txt
