*.log

.kiro/
.mem0/
.litellm_cache/

venv/
node_modules/
recursive.egg-info/
bak/
tmp/
docs/
bug/
test/cache/
test/story/

api_key.env
config.ini
secret.key


build/*
!build/.gitkeep
*.pyc

output.jsonl
done.txt

