# Core dependencies
overrides
class_registry
griffe
duckduckgo_search
loguru
langchain_text_splitters
trafilatura
tqdm
python-dotenv
dill
botocore
boto3
urllib3
google-generativeai
litellm[caching]
mem0ai[graph]
setuptools
langchain-memgraph
diskcache
python-dateutil
jieba
stopwordsiso
keybert
sentence-transformers
nltk
huggingface_hub
markdown



#qdrant-client
#neo4j
#langchain




# Development dependencies
pytest
gradio