

OPENAI_BASE_URL=https://api-inference.modelscope.cn/v1/
OPENAI_API_KEY=b612e53c-3b2b-4841-b969-f1629b1bdcd9


OPENROUTER_API_KEY=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


LUNARY_PUBLIC_KEY=ff859f2d-9acf-4f4b-bebe-574371e795ea


SERPAPI=b4901bed91aaed7c96f3fbf7bc940b5e55eda041e136bc3cb027c657a79dddb8


fast_model=openai/deepseek-ai/DeepSeek-V3
#fast_model=openrouter/deepseek/deepseek-chat-v3-0324:free





embedder_BASE_URL=https://api.siliconflow.cn/v1/
embedder_API_KEY=sk-sdbnbisxcifglegikxwjuhldwlyjbwzpktqpgdxvfzbcjktn
embedder_model=BAAI/bge-m3
embedding_dims=1024


memgraph_url=bolt://127.0.0.1:7687
memgraph_username=memgraph
memgraph_password=memgraph

